/* ==UserStyle==
@name           Grok-Gruvbox-Dark
@namespace      github.com/bilalazhar/grok-dark-theme
@version        1.0.2
@description    A new userstyle
@author         Me
@preprocessor   stylus




@var checkbox  noLogo   "No Front Page Logo"             1
@var checkbox   noSideHeader "NO Logo Header (Sidebar)"  1
@var checkbox   noPrivateChat "No Private Chat"          1
@var checkbox   LocalFont  "Local Placeholder Font"      0
@var checkbox   LoadWebFont  "Load Font From Web"        0



@var select newfont 'Text Font' [
    'Test Tiempos Text',
    'Website Default',
	'Geist Sans',
]

@var select headfont 'Heading Font' [
  'Inherit',
  'Bricolage Grotesque Variable',

]


==/UserStyle== */


@-moz-document domain("grok.com") {






/* Insert code here... */
  /*Font Import */
  /*Importing Margon */
  /*Margon Medium Import */
  @font-face {
          font-family: "Margon 360 W08 Medium";
          src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
          src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
  }


  @import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);




  /* bricolage-grotesque-latin-wght-normal */
@font-face {
font-family: 'Bricolage Grotesque Variable';
font-style: normal;
font-display: swap;
font-weight: 200 800;
font-stretch: 75% 100%;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-standard-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}







  /*Lora Font Import*/
  @font-face {
          font-family: "Lora";
          src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
          src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
  }



  @import url(https://db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);







  /*Lingistics Pro Font  */
  @font-face {
          font-family: "Linguistics Pro";
          src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
          src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
  }
  @import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);





  /*Commit Mono*/
  @font-face {
          font-family: "CommitMono";
          src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
          src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
  }



  @import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);





  /*Fira Mono */
  /*

  Fira Mono font weights:
- Fira Mono 400 (Regular)
- Fira Mono 500 (Medium)
- Fira Mono 700 (Bold)
*/
  /* fira-mono-regular - latin */
  /* fira-mono-latin-400-normal */
  /* fira-mono-latin-400-normal */
  @font-face {
          font-family: 'Fira Mono';
          font-style: normal;
          font-display: auto;
          font-weight: 400;
          src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }








  /* Spline Sans */
  /* spline-sans-latin-wght-normal */
  @font-face {
          font-family: 'Spline Sans Variable';
          font-style: normal;
          font-display: auto;
          font-weight: 300 700;
          src: url(https://cdn.jsdelivr.net/fontsource/fonts/spline-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }















  /*Hack Font */
  @font-face {
          font-family: "Hack";
          src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot");
          src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.svg#Hack")format("svg");
  }














  /*Karla Font Testing */
  @font-face {
          font-family: "Karla";
          src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
          src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla")format("svg");
  }















  @font-face {
          font-family: "Karla Medium";
          src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot");
          src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.svg#Karla Medium")format("svg");
  }







  @font-face {
          font-family: "Karla Bold";
          src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot");
          src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.svg#Karla Bold")format("svg");
  }
  /*Archivo Font */
  @font-face {
          font-family: "Archivo";
          src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot");
          src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot?#iefix")format("embedded-opentype"),
          url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff2")format("woff2"),
          url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff")format("woff"),
          url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.ttf")format("truetype"),
          url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.svg#Archivo")format("svg");
  }
/* literata-latin-wght-normal */
@font-face {
font-family: 'Literata Variable';
font-style: normal;
font-display: swap;
font-weight: 200 900;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
font-family: "Fantasque Sans Mono";
src: url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.eot");
src: url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.eot?#iefix")format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.woff2")format("woff2"),
url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.woff")format("woff"),
url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.ttf")format("truetype"),
url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.svg#Fantasque Sans Mono")format("svg");
}

@font-face {
font-family: "Fantasque Sans Mono Bold";
src: url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.eot");
src: url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.eot?#iefix")format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.woff2")format("woff2"),
url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.woff")format("woff"),
url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.ttf")format("truetype"),
url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.svg#Fantasque Sans Mono Bold")format("svg");
}

  /* jetbrains-mono-latin-wght-normal */
@font-face {
font-family: 'JetBrains Mono Variable';
font-style: normal;
font-display: swap;
font-weight: 100 800;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

  /* inclusive-sans-latin-400-normal */
@font-face {
font-family: 'Inclusive Sans';
font-style: normal;
font-display: swap;
font-weight: 400;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/inclusive-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inclusive-sans@latest/latin-400-normal.woff) format('woff');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
  /* manrope-latin-wght-normal */
@font-face {
font-family: 'Manrope Variable';
font-style: normal;
font-display: swap;
font-weight: 200 800;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*Geist Sans*/
/* geist-sans-latin-100-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 100;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.ttf) format('truetype');
}

/* geist-sans-latin-200-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 200;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.ttf) format('truetype');
}

/* geist-sans-latin-300-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 300;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.ttf) format('truetype');
}

/* geist-sans-latin-400-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 400;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.ttf) format('truetype');
}

/* geist-sans-latin-500-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 500;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.ttf) format('truetype');
}

/* geist-sans-latin-600-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 600;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.ttf) format('truetype');
}

/* geist-sans-latin-700-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 700;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.ttf) format('truetype');
}

/* geist-sans-latin-800-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 800;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.ttf) format('truetype');
}

/* geist-sans-latin-900-normal */
@font-face {
font-family: 'Geist Sans';
font-style: normal;
font-display: swap;
font-weight: 900;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.ttf) format('truetype');
}





/*Geist Mono Variable*/
/* geist-mono-latin-wght-normal */
@font-face {
font-family: 'Geist Mono Variable';
font-style: normal;
font-display: swap;
font-weight: 100 900;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}





/* baskervville-latin-400-normal */
@font-face {
font-family: 'Baskervville';
font-style: normal;
font-display: swap;
font-weight: 400;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/baskervville@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/baskervville@latest/latin-400-normal.woff) format('woff');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}











@font-face {
font-family: "Tiempos Text Regular";
src: url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.eot");
src: url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.eot?#iefix")format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.woff2")format("woff2"),
url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.woff")format("woff"),
url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.ttf")format("truetype"),
url("https://db.onlinewebfonts.com/t/1b3f9cb78376a36884f3908f37a42c91.svg#Tiempos Text Regular")format("svg");
}





/*Inter Font import*/

/* inter-latin-wght-normal */
@font-face {
font-family: 'Inter Variable';
font-style: normal;
font-display: swap;
font-weight: 100 900;
src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}





:root

{
/* 0 is for darkest
1 is for hard
higher values for hard  */


/* 2.1 Dark theme color variables */
--bg0-dh:       #1d2021;
--bg-dark-new  :  #1F1E1D ;
/*For basic text new color added         */
--text-normal :#ffd29c ;

--shadow-bg:         #1d1b1a;
/* Was picked from the side bar on grok interface  */
--bg-def-dark:#171718; 

--bg1-dark:       #3c3836;
--bg-dark:        #282828;
--bg2-dark:       #504945;
--bg3-dark:       #665c54;
--bg4-dark:       #7c6f64;
--bg5-dark:       #928374;
--bg_visual:      #503946;
--bg_red:         #cc241d;
--bg_green:       #98971a;
--bg_blue:        #458588;
--bg_yellow:      #d79921;
--shadow:         #16181a;
--shadow-var1:         #17191b;
--shadow-cur:         #1a1b1d;

--fg-dark:        #ebdbb2;
--grey0-dark:     #7f897d;
--grey1-dark:     #859289;
--grey2-dark:     #9aa79d;

--faded-red:     #fb4934;
--faded-orange:  #fe8019;
--faded-yellow:  #fabd2f;
--faded-green:   #b8bb26;
--faded-aqua:    #8ec07c;
--faded-blue:    #83a598;
--faded-purple:  #d3869b;

--dim-red:       #cc241d;
--dim-orange:    #d65d0e;
--dim-yellow:    #d79921;
--dim-green:     #98971a;
--dim-aqua:      #689d6a;
--dim-blue:      #458588;
--dim-purple:    #b16286;


/* 2.2 Light theme color variables */
--bg0-light:     #f0edd8;
--bg1-light:     #f6f1dd;
--bg-light:      #fdf6e3;
--bg2-light:     #f3efda;
--bg3-light:     #edead5;
--bg4-light:     #e4e1cd;
--bg5-light:     #dfdbc8;
--grey0-light:   #a4ad9e;
--grey1-light:   #939f91;
--grey2-light:   #879686;
--shadow-light:  #3c474d20;


--text-offwhite: #fbf1c7;
--text-offyellowish: #f2e5bc;
--text-white: #f9f5d7;
--text-offwhite-faded: #ebdbb2;
--text--faded: #d5c4a1;
--text--veryfade: #928374;



--bg_visual_light:      #eaedc8;
--bg_red_light:         #fbe3da;
--bg_green_light:       #f0f1d2;
--bg_blue_light:        #e9f0e9;
--bg_yellow_light:      #faedcd;

--fg-light:       #5c6a72;

--light-red:     #f85552;
--light-orange:  #f57d26;
--light-yellow:  #bf983d;
--light-green:   #899c40;
--light-aqua:    #569d79;
--light-blue:    #5a93a2;
--light-purple:  #b87b9d;

--light-dim-red:    #f1706f;
--light-dim-orange: #f39459;
--light-dim-yellow: #e4b649;
--light-dim-green:  #a4bb4a;
--light-dim-aqua:   #6ec398;
--light-dim-blue:   #6cb3c6;
--light-dim-purple: #e092be;



--dark-red: #9d0006;
--dark-green: #79740e;
--dark-yellow: #b57614;
--dark-blue: #076678;
--dark-purple: #8f3f71;
--dark-aqua: #427b58;
--dark-orange: #af3a03;


/* light colors */
--interface-light0-hard: #f9f5d7;
--interface-light0: #fbf1c7;
--interface-light0-soft: #f2e5bc;
--interface-light1: #ebdbb2;
--interface-light2: #d5c4a1;
--interface-light3: #bdae93;
--interface-light4: #a89988;





  }



/*Root Fonts */

:root {
--font-Margon: "Margon 360 W08 Medium";
--font-BricolageGrotesque: "Bricolage Grotesque Variable";
--font-Lora: "Lora";
--font-LinguisticsPro: "Linguistics Pro";
--font-CommitMono: "CommitMono";
--font-FiraMono: 'Fira Mono';
--font-SplineSansVariable: 'Spline Sans Variable';
--font-Hack: "Hack";
--font-Karla: "Karla";
--font-KarlaMedium: "Karla Medium";
--font-KarlaBold: "Karla Bold";
--font-Archivo: "Archivo";
--font-LiterataVariable: 'Literata Variable';
--font-JetbrainsVar: 'JetBrains Mono Variable';
--font-Jetbrains: 'JetBrains Mono';
--font-GeistSans: 'Geist Sans';
--font-GeistMono: 'Geist Mono Variable';
--font-Basker: 'Baskervville';
--font-Tiempo: "Tiempo";

}









/* Putting Variables for the most used fonts */
$heading-font = Bricoalge Grotesque Variable 
$sans-serif = Geist Sans
$code-font = Geist Mono






/* Html and body tags  */
html , body {
background : #171718  !important ;
}


/* FRONT PAGE  */

div.query-bar {
  background-color: var(--bg-dark-new) !important;
  border: 3px solid var(--bg3-dark) !important;
  border-radius: 9px !important;
  box-shadow: 5px 5px 5px var(--bg-dark) !important;
}


/* Text Area Span  */
.relative > span {
color: var(--bg3-dark) !important;
font-family: newfont !important;
font-stretch : 92% !important;
font-size: 16px !important;
font-weight: 500!important;
}




/* General Styles */
/* Colors and other styling options for General Html tags  */

p {
  color : var(--text-white) !important;
  font-size: 1rem !important;
}

li, ol, ul {
  color : var(--text-offwhite) !important;
  font-size: 1rem !important;
}

/* Bold and strong formatting  */
strong {
  color : var(--faded-green) !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}

/* Heading 1  will get a diff color  */
h1 {
  color : var(--faded-red) !important;
}

/* heading 2 and 3  will get a diff color */
h2 , h3 {
  color : var(--faded-blue) !important;
}

/* heading 4 to 6 will get a diff color */
h4 , h5 , h6 {
  color : var(--light-dim-yellow) !important;
}


/* SVG colors  */
svg  {
  color: var(--faded-green) !important; 
  stroke-width: 3px !important; 
}



/* First Page Styles */


/* Side bar styles */
/* Side bar  SEARCH and Contorl K  */
span.space-x-1.align-baseline > span {
  color: var(--text--veryfade) !important;
}


/* Chat History Titles color   */
span.flex-1{
color : var(--text--faded) !important; 
font-size: 0.9rem !important;
}

/* Side elements other then the older chat history  
CHAT HISTORY PROJECTS AND SO ON */
.group.flex.flex-col.justify-center.rounded-full.focus\:outline-none.focus-visible\:outline-none.focus-visible\:ring-1.focus-visible\:ring-ring {

  color :var(--text-white) !important ; 
  font-size: 0.9rem !important;
  
}



/* Circle for the chats that you have not opened yet (TASKS) */

.bg-blue-400 {
    background-color: var(--dim-red) !important ;
}


/* See all and Other secondary text on the Front page  */
.text-secondary {
  color: var(--dim-orange) !important ; 
}


/* text area styles */
textarea {
  color: var(--text-offyellowish) !important;
  font-family:  'Geist Sans' !important;
  font-weight: 500 !important;
  }


/* File */
  div.absolute.bg-background.w-full.max-w-breakout.transition-opacity.opacity-100 > ul.pb-2.overflow-hidden.bg-background.min-h-36 > li {
    color: var(--text-white) !important; 
    border-radius: 0.75rem !important;
    margin-bottom: 0.5rem !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  } 
















  /* ANSWER / CHAT  PAGE  */
/* removing the top gradient  */
.via-background {
  --tw-gradient-to: none !important;
  --tw-gradient-stops: none !important;
}


/*Loading Local Font For Everything*/ 
if LocalFont {
p , div , span , button , body , html , p , li , ul , ol  {
font-family : "Test Tiempos Text" !important
}
}



/*
Loading Fonts from the web for  this
*/
if  LoadWebFont {
p , div , span , button , body , html , p , li , ul , ol  {
font-family : "Tiempos Text Regular" !important

}
}




/*Hide Grok Logo*/ 
/*Front page Logo*/
if noLogo {
    div[class*="max-w-breakout"] > svg {
      opacity: 0 !important;
    }
}

/* Hide the Side bar header */
if noSideHeader{
    div[data-sidebar="header"] {
      display: none !important;
    }
}


    /*Hide Private Chat button   */
    /*This will still be available in Command Pallete   */
    if noPrivateChat{
    [href="/chat#private"] {
   display: none !important;
 }
    }




/* Heading Font Selector  */

/* When you select  the heading font it will use Bricoalge Grotesque Font and put that in headfont variable  */
/* if you select inherit then it will use the default font and just make it bold and appear as heading  */

/* new font in else was defined in the function down below based on the text font drop down  */
:root{
  --default-heading-font: headfont ; 
}

if headfont != 'Inherit' {
  h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: var(--default-heading-font), system-ui, -apple-system, sans-serif !important;
  }
} else {
  h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: newfont, sans-serif !important;
  }
}





 /*This was defined in the start of the style , basically this variable will be
 used when ever this script is ran*/
:root {
  --dropdown-text-font:newfont ;
  --fallback-text: sans-serif !important ;
}


/* This fallback font is defined above in the start of the style
but here is what it is in human readable words
It will first try to use the default font of the system
if the system is apple then it will use apple system font
and if none of the above is available then it will use sans-serif as a fallback */


/*if some other font is selected then it will use it through out the UI */
if newfont != 'Website Default' {
  p, li, ul, ol, button, input, textarea , strong{
    font-family: var(--dropdown-text-font), system-ui, -apple-system, var(--font-GeistSans), var(--font-Archivo), sans-serif !important;
  }
} else {
  :root {
    p, li, ul, ol, button, input, textarea , strong{
      font-family: var(--fallback-text) !important;
    }
  }
}


}




